

<div *ngIf="review" class="write_review">
    <app-new-review *ngIf="selected_task" [taskToShow] = "selected_task"></app-new-review>
    <button class="hide" (click)="write_review()">Hide Review</button>
</div>

<div class="box_contain">
  <div class="box">
    <h2>Displaying Movies</h2>
    <div class="table_contain">
      <table>
        <tr>
          <th>Movie Title</th>
          <th>Description</th>
          <th>Average Review</th>
          <th>Reviews</th>
          <th>Actions</th>
        </tr>


        <tr *ngFor="let movie of movies, let i = index">

          <td>{{movie.title}}</td>
          <td>{{movie.description}}</td>
          <td>{{avg_review_arr[i]}}</td>
          <td>{{movie.reviews.length}}</td>
          <td class="actions">
            <button [routerLink]="['/showMovie/', movie._id]" routerLinkActive="active">Read Reviews</button>
            <button (click)="write_review()" (click)=taskToShow(movie._id)>Write Review</button>
            <button (click)="deleteMovie(movie._id)">Delete Movie</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
