
<div class="box_contain">
    <div class="box">
      <h2>Displaying {{movie.title}}</h2>
      <h4>Description: {{movie.description}}</h4>
      <div class="table_contain">
        <table>
          <tr>
            <th>Reviewer Name</th>
            <th>Movie Rating</th>
            <th>Movie Review</th>
            <th>Actions</th>
          </tr>


          <tr *ngFor="let review of movie.reviews">
            <td>{{review.name}}</td>
            <td>{{review.rating}}</td>
            <td>{{review.review}}</td>
            <td><button (click)="deleteReview(review._id)">Delete Review</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
